/* Reset - pseudoelementy będą zachowywać się tak samo jak normalne elementy */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
}
/* ------------------------------------------------------------ */

/* Mobile First */
.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "section"
    "main"
    "footer";
}

/* Header */
.header {
  grid-area: header;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid black;
}

nav {
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100%;
}
li {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
}

li > a {
  display: inline-block;
  text-align: center;
  height: 3em;
  line-height: 3em;
  width: 100%;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
span {
  font-size: xx-small;
  color: white;
}

/* Sekcja */
.section {
  grid-area: section;
  z-index: 1;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section > ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.369);
  color: white;
}

.section > ul > li {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  height: 3em;
  line-height: 3em;
}

/* Treść główna */
.main {
  background-color: #23211B;
  grid-area: main;
  grid-row: 2/3;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Stopka */
.footer {
  grid-area: footer;
  text-align: center;
  border-top: 2px solid black;
  background-color: #23211B;
  color: white;
}
.footer > ul {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}
.footer > ul > li > a {
  font-size: 0.5em;
  color: white;
}

/* ------------------------------------------------------------ */

/* Desktop */
@media (min-width: 768px) {
  .layout {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 25vh 68vh 7vh;
    grid-template-areas:
      "header header "
      "section main "
      "footer footer ";
  }

  ul {
    flex-wrap: nowrap;
  }

  /* Header */
  .header {
    flex-direction: row;
  }


  /* Dowcip po najechaniu myszką na link/span */
  a:hover {
    span {
      color: black;
    }
    color: white;
  }
  
  /* Sekcja */
  .section > ul {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    background-color: #23211B;
  }
   .section > ul > li {
    font-size: 2em;
        transition: 0.6s;

  }
  /* Kolor po najechaniu myszką na nawigacji */
  .header > nav > ul > li:hover {
    background-color: #db3632;
  }
  section > ul > li:hover {

    text-decoration: underline;
    cursor: pointer;
  }

 /*Footer*/
 .footer {
  background-color: transparent;
  color: black;
 }
  .footer > ul > li > a {
    color: black;
  }
    
}
